@font-face {
  font-family: sanslight;
  src: url(../fonts/NeoSans_Light.otf);
}
@font-face {
  font-family: sansregular;
  src: url(../fonts/NeoSansPro-Regular.ttf);
}
@font-face {
  font-family: sansmedium;
  src: url(../fonts/Neo_Sans_Medium.ttf);
}
@font-face {
  font-family: sansRegular;
  src: url(../fonts/NeoSansPro-Regular.ttf);
}
body {
  background-color:  #f2f2f2;
  font-family: sansregular;
}
.title {
  position: relative;
}
.title h2 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 35px;
  margin-left: 10.5%;
  font-family: sansregular;
  font-weight: 600;
}
.side-title {
  color: #e30029;
  font-size: 21px;
  font-weight: 600;
}
.text-black {
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.btn-main {
  background-color: transparent;
  border: 1px solid #e30029;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  color: #000;
  height: 31px;
  width: 145px;
  padding: 2px;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
.btn-main:hover, .btn-main:active, .btn-main:focus {
  background-color: #e30029 !important;
  border: 1px solid #e30029 !important;
  color: #fff;
  box-shadow: none !important;
}
.fa-angle-right {
  background-color: #e30029;
  padding: 4px 8px;
  font-size: 1px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  width: 29px !important;
  height: 31px;
  margin: 0px -3px 0px -3px;
  cursor: pointer;
  color: #000;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.scroll {
  overflow-y: hidden;
}

/* Sidebar */
#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 110px;
  border-right: 1px solid #000;
  background-color: #fff;
}
#sidebar-wrapper .sidebar-logo {
  padding: 1.5rem 1.25rem;
  font-size: 1.4rem;
}
#sidebar-wrapper .list-group {
  width: 100%;
}
#sidebar-wrapper .search-input {
  top: -0.3rem;
  left: 6.9rem;
  width: 200px;
  z-index: 5;
}
#sidebar-wrapper .search-input input {
  display: none;
  border: 0;
  border-radius: 0;
  padding: 0.4rem;
  background-color: #fff;
  box-shadow: none;
  font-family: sansregular;
}
#sidebar-wrapper .search-icon img {
  width: 19px;
  height: 19px;
}
#page-content-wrapper {
  min-width: 100vw;
  background-color: #fff;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
#menu-toggle {
  padding: 0.8rem 1.25rem 1.25rem 1.25rem;
}
#menu-toggle img {
  width: 32px;
}
#menu-toggle img:hover, #menu-toggle img:active, #menu-toggle img:focus {
  outline: 0 !important;
}
.menu-icon {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.list-group .horizontal-line {
  background-color: #e30029;
  width: 32px;
}
.mega-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  width: 91.9%;
  z-index: 5;
  height: 100%;
  overflow-y: hidden;
  margin-left: 8.15%;
  opacity: 0.96;
}
.mega-menu .mega-menu--content {
  padding-left: 50px;
}
.mega-menu .mega-menu--logo {
  font-size: 52px;
  color: #272b2f;
}
.mega-menu .mega-menu--nav {
  list-style-type: none;
  display: flex;
  padding-left: 3px;
  margin-bottom: 0;
}
.mega-menu .mega-menu--nav .item {
  font-size: 29px;
  margin-right: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-right: 2px solid #000;
  padding-right: 25px;
}
.mega-menu .mega-menu--nav .item:last-child {
  border-right: 0;
}
.mega-menu .mega-menu--nav .item a {
  color: #272b2f;
  font-weight: 600;
  font-family: sansmedium;
}
.mega-menu .mega-menu--nav .item a:hover, .mega-menu .mega-menu--nav .item a:active, .mega-menu .mega-menu--nav .item a:focus {
  color: #e30029;
}

/* menu items*/
.mega-menu .mega-menu--nav li .mega-menu--list {
  position: absolute;
  top: 33px;
  list-style: none;
  border-left: 2px solid #000;
  margin-left: -2.1rem;
  padding-left: 24px;
  padding-top: 45px;
  display: none;
}
.mega-menu .mega-menu--nav li .mega-menu--list li {
  text-transform: uppercase;
  padding-bottom: 12px;
}

.mega-menu .mega-menu--nav li .mega-menu--list li a {
  font-size: 16px;
  font-family: sansregular;
  text-transform: uppercase;
  color: #272b2f;
}
.mega-menu .mega-menu--nav li .mega-menu--list li a:hover, .mega-menu .mega-menu--nav li .mega-menu--list li a:active, .mega-menu .mega-menu--nav li .mega-menu--list li a:focus {
  color: #e30029;
}

.mega-menu .mega-menu--nav .item.item:first-child {
  padding-left: 31px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    background-color: #fff;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* --------------------------------------------------------------------------------------------------------- */

/* ---------- */
/* Home Page */
/* -------- */

/* Pulse */
.pulse {
  position: absolute;
  z-index: 0;
}

/* Oblique Section */
.oblique-sec {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}
.oblique-sec img {
  width: 100%;
}
.oblique-sec .play {
  position: absolute;
  top: 35%;
  left: 50%;
  cursor: pointer;
}
.oblique-sec .creative {
  position: absolute;
  top: 50%;
  left: 29%;
}
.oblique-sec .creative p {
  color: #e30029;
  letter-spacing: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: sanslight;
}
.home .modal-body {
  padding: 0;
}
.home .modal-content {
  height: 400px;
}

/* Intro Section */
.intro-sec {
  background-color: #fff;
  height: 300px;
  z-index: 2;
  position: relative;
}
.intro-sec .intro-sec_head h3 {
  font-size: 35px;
  color: #e30029;
  font-family: sansmedium;
}
.intro-sec .owl-carousel .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
}
.intro-sec .owl-carousel .item .item-desc {
  max-width: 30%;
}
.intro-sec .owl-carousel .item .item-desc h4 {
  font-family: sansregular;
  font-size: 25px;
}
.intro-sec .owl-carousel .item .item-desc span {
  color: #e30029;
  margin-right: 0.5rem;
  display: block;
}
.intro-sec .owl-carousel .item .item-icon {
  display: flex;
}
.intro-sec .owl-carousel .item .item-icon img {
  width: 85px;
  margin-right: 20px;
}
.intro-sec .owl-carousel .item .vertical-line {
  border-right: 1px solid #e30029;
  height: 100%;
  position:relative;
  right:-12px
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #e30029;
  outline: 0;
}

/* Portfolio Section */
.portfolio-sec {
  background-color: #f2f2f2;
}
.portfolio-sec .cards {
  display: flex;
  align-items: stretch;
}
.portfolio-sec .card {
  cursor: pointer;
}
.portfolio-sec .small-cards {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-sec .small-cards .card-img-top {
  width: 60%;
}
.portfolio-sec .card-body {
  padding: 0.6rem 0.8rem;
}
.portfolio-sec .category .type {
  margin-bottom: 1px;
  font-size: 16px;
}
.portfolio-sec .category .name {
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

/* Partners Section */
.partners-contain {
  background-color: #f2f2f2;
}
.partners-sec {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 72%);
  padding-bottom: 8%;
  padding-top: 1%;
}
.partners-sec .partners-explain p:first-child {
  font-size: 25px;
  margin: 10px 0 0 0;
}
.partners-sec .partners-explain p:last-child {
  font-size: 35px;
  font-weight: 600;
}
.partners-sec .partner {
  width: 19.6%;
  text-align: end;
  margin-top: 3%;
  display: inline-block;
}
.partners-sec .partner img {
  width: 105px;
}

/* Blog Section */
.blog-sec {
  background-color: #f2f2f2;
}
.blog-sec .blog-img {
  width: 95%;
  height: 250px;
}
.blog-sec .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 25px;
}
.blog-sec .blog-carousel h3 {
  font-weight: 600;
}
.blog-sec .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 40%;
}
.blog-sec .owl-nav .owl-prev:hover, .blog-sec .owl-nav .owl-prev:active, .blog-sec .owl-nav .owl-prev:focus {
  background-color: transparent;
}
.blog-sec .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 40%;
}
.blog-sec .owl-nav .owl-next:hover, .blog-sec .owl-nav .owl-next:active, .blog-sec .owl-nav .owl-next:focus {
  background-color: transparent;
}

/* Footer */
footer {
  background-color: #000;
  padding:40px 10px 40px 10px;
}
footer .footer-top h4 {
  color: #fff;
}
footer .footer-top h4 span {
  color: #e30029;
}
footer .footer-top .footer-top--details {
  border-left: 1px solid #fff;
  height: 100%;
  padding-left: 35px;
}
footer .horizontal-line {
  border-top: 1px solid #fff;
  width: 92%;
  text-align: center;
  margin-left: 4%;
}
footer .footer-bottom {
  margin-top: 3%;
}
footer .footer-bottom ul {
  padding: 0;
  margin-top: 25px;
  padding-right: 20px;
  position: relative;
  z-index: 5;
}
footer .footer-bottom ul li {
  list-style: none;
  margin-bottom: 1%;
}
footer .footer-bottom ul li a {
  color: #fff;
  font-size: 14px;
}
footer .footer-bottom h5 {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

footer .footer-bottom .privacy {
  font-size: 12px;
  color: #e30029;
  padding-right: 35%;
  margin-bottom: 0;
}
footer .footer-bottom .up-to-date {
  display: flex;
}
footer .footer-bottom .up-to-date h5 {
  font-weight: 600;
  font-size: 18px;
  max-width: 12%;
  margin-bottom: 0;
  margin-left: 14px;
}
footer .footer-bottom .up-to-date .vertical-line {
  border-right: 1px solid #fff;
  height: 100%;
  margin-right: 14px;
  margin-left: 12px;
}
footer .footer-bottom .up-to-date .newsletter {
  color: #fff;
  max-width: 39%;
  font-size: 13px;
  margin-bottom: 0;
}
footer .footer-bottom .up-to-date .email {
  color: #e30029;
  font-size: 13px;
  margin-bottom: 6px;
  width: 100%;
}
.copyright {
  background-color: #f2f2f2;
  padding: 8px 141px 8px 0;
  display: flex;
  justify-content: flex-end;
}
.copyright p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
}

/* --------------------------------------------------------------------------------------------------------- */